
/*
.border-dark {
    border: 5px solid black;
}
*/
.nav-item-selected {
    background-color: rgb(153, 211, 250);
}

.nav-item:hover {
    background-color: rgb(49, 155, 226);
}

.perso_button_add:hover {
    background-color: rgb(49, 155, 226);
}

.perso_label {
    font-size: 0.75rem;
}

.perso_text {
    font-size: 0.8rem;
}